<nav class="navbar">
    <div class="container nav-container">
        <a href="../index.html" class="nav-logo">
            <img src="../assets/img/icon.svg" alt="CyberIcon"
                style="height:24px; vertical-align:middle; margin-right:8px;">
            CyberMemo
        </a>

        <div class="nav-menu" id="navMenu">
            <a href="m00_fundamentals.html" class="nav-link">Bases</a>
            <a href="m01_web_attacks.html" class="nav-link">Web</a>
            <a href="m02_cryptography.html" class="nav-link">Crypto</a>
            <a href="m03_network.html" class="nav-link">Réseau</a>
            <a href="m04_auth_identity.html" class="nav-link">Auth</a>
            <a href="m05_active_directory.html" class="nav-link">AD</a>
            <a href="m06_malware.html" class="nav-link">Malware</a>
            <a href="m07_cloud_sec.html" class="nav-link">Cloud</a>
            <a href="m08_forensics.html" class="nav-link">Forensics</a>
            <a href="m09_tools.html" class="nav-link">Outils</a>
            <a href="quiz.html" class="nav-link btn-quiz-nav">Quiz</a>
        </div>

        <button class="hamburger" id="hamburgerBtn" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>