<header>
    <div class="container header-content">
        <div class="logo">
            <div class="logo-icon">OPS</div>DevOps
        </div>
        <button class="hamburger" id="hamburger" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav id="nav-menu">
            <a href="#m0">Réseaux</a>
            <a href="#m1">Culture</a>
            <a href="#m2">Git</a>
            <a href="#m3">CI</a>
            <a href="#m4">CD</a>
            <a href="#m5">Docker</a>
            <a href="#m6">K8s</a>
            <a href="#m7">IaC</a>
            <a href="#m8">Observ.</a>
            <a href="#m9">SecOps</a>
            <a href="#m10">SRE</a>
        </nav>
    </div>
</header>