<section class="hero">
    <div class="container">
        <h1>Mémo DevOps</h1>
        <p>L'Art de livrer du logiciel. De la Culture à la Prod.</p>
    </div>
</section>

<!-- INTRO BOÎTE -->
<div class="intro-box">
    <div class="container">
        <h3>DevOps en 2025</h3>
        <p>
            Ce n'est pas un poste, c'est une <strong>philosophie</strong>. C'est réduire la friction entre l'idée
            (Dev) et la valeur client (Ops).
            C'est automatiser tout ce qui peut l'être pour se concentrer sur l'innovation.
        </p>
    </div>
</div>