<!-- TABLE OF CONTENTS -->
<div class="toc">
    <div class="container">
        <div class="toc-grid">
            <a href="#m0" class="toc-item"><span class="toc-num">00</span>Réseaux & Cloud</a>
            <a href="#m1" class="toc-item"><span class="toc-num">01</span>Culture & CALMS</a>
            <a href="#m2" class="toc-item"><span class="toc-num">02</span>Git Maîtrisé</a>
            <a href="#m3" class="toc-item"><span class="toc-num">03</span>Continuous Integration</a>
            <a href="#m4" class="toc-item"><span class="toc-num">04</span>Continuous Delivery</a>
            <a href="#m5" class="toc-item"><span class="toc-num">05</span>Docker Deep Dive</a>
            <a href="#m6" class="toc-item"><span class="toc-num">06</span>Kubernetes Avancé</a>
            <a href="#m7" class="toc-item"><span class="toc-num">07</span>Infrastructure as Code</a>
            <a href="#m8" class="toc-item"><span class="toc-num">08</span>Observabilité</a>
            <a href="#m9" class="toc-item"><span class="toc-num">09</span>DevSecOps</a>
            <a href="#m10" class="toc-item"><span class="toc-num">10</span>SRE & Reliability</a>
        </div>
    </div>
</div>